# ETL Weather DFs

In [2]:
import pandas as pd
import os
import numpy as np
import re

### Aggregate station data by distance

In [3]:
pd.options.display.max_rows = 10
cities = ["ATL_stations","CH_stations","LA_stations","NYC_stations","SD_stations","SF_stations"]
#Aggregate Station Location tuples 
stations_data = pd.DataFrame()
for city in cities:
    path = 'station_locations/%s.txt' % city
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True,header=None,error_bad_lines=False)
        frame['city'] = city
        stations_data = stations_data.append(frame,ignore_index=True)
stations_data = stations_data.rename(columns={0:"distance",1:"station_name"})

In [4]:
ATLshortlist = stations_data[(stations_data.city == "ATL_stations") & (stations_data.distance <= 100)][['station_name']]
CHshortlist = stations_data[(stations_data.city == "CH_stations") & (stations_data.distance <= 100)][['station_name']]
LAshortlist = stations_data[(stations_data.city == "LA_stations") & (stations_data.distance <= 100)][['station_name']]
NYCshortlist = stations_data[(stations_data.city == "NYC_stations") & (stations_data.distance <= 100)][['station_name']]
SDshortlist = stations_data[(stations_data.city == "SD_stations") & (stations_data.distance <= 100)][['station_name']]
SFshortlist = stations_data[(stations_data.city == "SF_stations") & (stations_data.distance <= 100)][['station_name']]

### Transform and Load Data 
###### Merge datasets from each station with PARAM_STATION-NAME as default column header
##### Process results in 10 stations per city
##### UPDATE: Frame.query removes scrappy data (missing data will still exist for some!)

In [5]:
######ATL Weather######
ATL_stations = [];
ATL_weather = pd.DataFrame()
for station in ATLshortlist['station_name']:
    path = 'ATL/%s.csv' % station
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True)
        frame = frame.query('TMIN != TMAX')
        frame.columns = ['DATE', 'TMAX_'+station,'TMIN_'+station,'SNOW_'+station,'SNWD_'+station,'PRCP_'+station]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if frame.shape[0] >= 12650:
            ATL_stations.append(station);
            if ATL_weather.empty:
                ATL_weather = ATL_weather.append(frame,ignore_index=True)
            else:
                ATL_weather = ATL_weather.merge(frame, on='DATE', how='inner', suffixes=('',''))
ATL_weather = ATL_weather.groupby('DATE').mean()
ATL_weather.reset_index(level=0, inplace=True)

In [6]:
######CH Weather######
CH_stations = [];
CH_weather = pd.DataFrame()
for station in CHshortlist['station_name']:
    path = 'CH/%s.csv' % station
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True)
        frame = frame.query('TMIN != TMAX')
        frame.columns = ['DATE', 'TMAX_'+station,'TMIN_'+station,'SNOW_'+station,'SNWD_'+station,'PRCP_'+station]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if frame.shape[0] >= 12764:
            CH_stations.append(station)
            if CH_weather.empty:
                CH_weather = CH_weather.append(frame,ignore_index=True)
            else:
                CH_weather = CH_weather.merge(frame, on='DATE', how='inner', suffixes=('',''))
CH_weather = CH_weather.groupby('DATE').mean()
CH_weather.reset_index(level=0, inplace=True)

In [7]:
######NYC Weather######
NYC_stations = [];
NYC_weather = pd.DataFrame()
for station in NYCshortlist['station_name']:
    path = 'NYC/%s.csv' % station
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True)
        frame = frame.query('TMIN != TMAX')
        frame.columns = ['DATE', 'TMAX_'+station,'TMIN_'+station,'SNOW_'+station,'SNWD_'+station,'PRCP_'+station]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if frame.shape[0] >= 12700:
            NYC_stations.append(station)
            if NYC_weather.empty:
                NYC_weather = NYC_weather.append(frame,ignore_index=True)
            else:
                NYC_weather = NYC_weather.merge(frame, on='DATE', how='inner', suffixes=('',''))
NYC_weather = NYC_weather.groupby('DATE').mean()
NYC_weather.reset_index(level=0, inplace=True)

In [8]:
######LA Weather######
LA_stations = [];
LA_weather = pd.DataFrame()
for station in LAshortlist['station_name']:
    path = 'LA/%s.csv' % station
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True)
        frame = frame.query('TMIN != TMAX')
        frame.columns = ['DATE', 'TMAX_'+station,'TMIN_'+station,'SNOW_'+station,'SNWD_'+station,'PRCP_'+station]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if frame.shape[0] >= 12600: 
            LA_stations.append(station)
            if LA_weather.empty:
                LA_weather = LA_weather.append(frame,ignore_index=True)
            else:
                LA_weather = LA_weather.merge(frame, on='DATE', how='inner', suffixes=('',''))
LA_weather = LA_weather.groupby('DATE').mean()
LA_weather.reset_index(level=0, inplace=True)

In [9]:
######SF Weather######
SF_stations = [];
SF_weather = pd.DataFrame()
for station in SFshortlist['station_name']:
    path = 'SF/%s.csv' % station
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True)
        frame = frame.query('TMIN != TMAX')
        frame.columns = ['DATE', 'TMAX_'+station,'TMIN_'+station,'SNOW_'+station,'SNWD_'+station,'PRCP_'+station]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if frame.shape[0] >= 12784: 
            SF_stations.append(station)
            if SF_weather.empty:
                SF_weather = SF_weather.append(frame,ignore_index=True)
            else:
                SF_weather = SF_weather.merge(frame, on='DATE', how='inner', suffixes=('',''))
SF_weather = SF_weather.groupby('DATE').mean()
SF_weather.reset_index(level=0, inplace=True)

In [10]:
######SD Weather######
SD_stations = [];
SD_weather = pd.DataFrame()
for station in SDshortlist['station_name']:
    path = 'SD/%s.csv' % station
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True)
        frame = frame.query('TMIN != TMAX')
        frame.columns = ['DATE', 'TMAX_'+station,'TMIN_'+station,'SNOW_'+station,'SNWD_'+station,'PRCP_'+station]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if frame.shape[0] >= 12600: 
            SD_stations.append(station)
            if SD_weather.empty:
                SD_weather = SD_weather.append(frame,ignore_index=True)
            else:
                SD_weather = SD_weather.merge(frame, on='DATE', how='inner', suffixes=('',''))
SD_weather = SD_weather.groupby('DATE').mean()
SD_weather.reset_index(level=0, inplace=True)

### Missing Data Logger
##### True indicates a missing data row

In [11]:
print("New York City stations missing data")
for station in NYC_stations:
    print("Station %s" % station)
    print(pd.isnull(NYC_weather)['TMIN_'+station].value_counts())
    print()

print("Atlanta stations missing data")
for station in ATL_stations:
    print("Station %s" % station)
    print(pd.isnull(ATL_weather)['TMIN_'+station].value_counts())
    print()
    
print("San Francisco stations missing data")
for station in SF_stations:
    print("Station %s" % station)
    print(pd.isnull(SF_weather)['TMIN_'+station].value_counts())
    print()

print("San Diego stations missing data")
for station in SD_stations:
    print("Station %s" % station)
    print(pd.isnull(SD_weather)['TMIN_'+station].value_counts())
    print()

print("Los Angeles stations missing data")
for station in LA_stations:
    print("Station %s" % station)
    print(pd.isnull(LA_weather)['TMIN_'+station].value_counts())
    print()

print("Chicago stations missing data")
for station in CH_stations:
    print("Station %s" % station)
    print(pd.isnull(CH_weather)['TMIN_'+station].value_counts())
    print()

New York City stations missing data
Station USC00300889
False    12628
dtype: int64

Station USC00305426
False    12628
dtype: int64

Station USW00014732
False    12628
dtype: int64

Station USW00094728
False    12628
dtype: int64

Station USW00094745
False    12628
dtype: int64

Station USW00094789
False    12628
dtype: int64

Station USC00283951
False    12628
dtype: int64

Station USC00286055
False    12628
dtype: int64

Station USW00014734
False    12628
dtype: int64

Station USW00093730
False    12628
dtype: int64

Atlanta stations missing data
Station USC00092283
False    12593
dtype: int64

Station USC00092485
False    12593
dtype: int64

Station USC00093060
False    12593
dtype: int64

Station USC00093621
False    12593
dtype: int64

Station USW00003813
False    12593
dtype: int64

Station USW00013873
False    12593
dtype: int64

Station USW00013874
False    12593
dtype: int64

Station USW00093842
False    12593
dtype: int64

Station USC00018469
False    12593
dtype: int64

Station USW00013871
False    12593
dtype: int64

San Francisco stations missing data
Station USC00043578
False    12737
dtype: int64

Station USC00045795
False    12737
dtype: int64

Station USC00047916
False    12737
dtype: int64

Station USC00049742
False    12737
dtype: int64

Station USW00023232
False    12737
dtype: int64

Station USW00023233
False    12737
dtype: int64

Station USW00023234
False    12737
dtype: int64

Station USW00023237
False    12737
dtype: int64

Station USW00023271
False    12737
dtype: int64

Station USW00023272
False    12737
dtype: int64

San Diego stations missing data
Station USC00040983
False    11746
dtype: int64

Station USC00042239
False    11746
dtype: int64

Station USC00042713
False    11746
dtype: int64

Station USC00043914
False    11746
dtype: int64

Station USC00044223
False    11746
dtype: int64

Station USC00047888
False    11746
dtype: int64

Station USW00003104
False    11746
dtype: int64

Station USW00003164
False    11746
dtype: int64

Station USW00023129
False    11746
dtype: int64

Station USW00023188
False    11746
dtype: int64

Los Angeles stations missing data
Station USC00041194
False    11962
dtype: int64

Station USC00046624
False    11962
dtype: int64

Station USC00046719
False    11962
dtype: int64

Station USC00047888
False    11962
dtype: int64

Station USC00049152
False    11962
dtype: int64

Station USC00049785
False    11962
dtype: int64

Station USW00003159
False    11962
dtype: int64

Station USW00023129
False    11962
dtype: int64

Station USW00023174
False    11962
dtype: int64

Station USW00093134
False    11962
dtype: int64

Chicago stations missing data
Station USC00472869
False    12652
dtype: int64

Station USC00473058
False    12652
dtype: int64

Station USC00473453
False    12652
dtype: int64

Station USC00476200
False    12652
dtype: int64

Station USW00014839
False    12652
dtype: int64

Station USC00125174
False    12652
dtype: int64

Station USW00014848
False    12652
dtype: int64

Station USC00113262
False    12652
dtype: int64

Station USW00094822
False    12652
dtype: int64

Station USW00094846
False    12652
dtype: int64

In [12]:
#Merge Datasets from each stock with PARAM_STOCK-NAME as default columns           
######Stock Data######
stocks = ['Apple, Inc Stock','International Business Machines Stock','Wal-Mart Stores, Inc Common St Stock','FedEx Corporation','The Boeing Company']
stock_data = pd.DataFrame()
for stock in stocks:
    path = 'Stock Data/%s.csv' % stock
    if os.path.exists(path):
        frame = pd.read_csv(path)
        frame.columns = ['DATE','OPEN_'+stock,'HIGH_'+stock,'LOW_'+stock,'CLOSE_'+stock,'VOLUME_'+stock,'ADJ CLOSE_'+stock]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        for column in frame.columns:
            if column != 'DATE':
                frame['PRE'+column] = frame[column].shift(-1)
        if stock_data.empty:
            stock_data = stock_data.append(frame,ignore_index=True)
        else:
            stock_data = stock_data.merge(frame, on='DATE', how='inner')
stock_data = stock_data.groupby('DATE').mean()
stock_data.reset_index(level=0, inplace=True)

In [13]:
#Merge Datasets from each stock with CITY-NAME_sunlight as default columns
#####Sunlight Data######
cities = ['ATL_sunlight','NYC_sunlight','LA_sunlight','SF_sunlight','SD_sunlight','CH_sunlight']
sunlight_data = pd.DataFrame()
for city in cities:
    path = 'Sunlight_data/%s.csv' % city
    if os.path.exists(path):
        frame = pd.read_csv(path,delim_whitespace=True,keep_date_col=True, header=None)
        frame = frame.iloc[:,0:2]
        frame.columns = ['DATE',city]
        frame['DATE'] = pd.to_datetime(frame['DATE'])
        if sunlight_data.empty:
            sunlight_data = sunlight_data.append(frame,ignore_index=True)
        else:
            sunlight_data = sunlight_data.merge(frame, on='DATE', how='inner')
sunlight_data = sunlight_data.groupby('DATE').mean()
sunlight_data.reset_index(level=0, inplace=True)

In [14]:
from functools import reduce
data_frames = [ATL_weather,CH_weather,NYC_weather,LA_weather,SD_weather,SF_weather,sunlight_data,stock_data]
df_final = reduce(lambda left,right: pd.merge(left,right,how='inner',suffixes=('','_y'), on='DATE'), data_frames)
df_final

,DATE,TMAX_USC00092283,TMIN_USC00092283,SNOW_USC00092283,SNWD_USC00092283,PRCP_USC00092283,TMAX_USC00092485,TMIN_USC00092485,SNOW_USC00092485,SNWD_USC00092485,...,LOW_The Boeing Company,CLOSE_The Boeing Company,VOLUME_The Boeing Company,ADJ CLOSE_The Boeing Company,PREOPEN_The Boeing Company,PREHIGH_The Boeing Company,PRELOW_The Boeing Company,PRECLOSE_The Boeing Company,PREVOLUME_The Boeing Company,PREADJ CLOSE_The Boeing Company
0,1980-12-12,156,-28,0,0,0,94,-33,0,0,...,36.625028,36.999991,816600,2.457737,36.999991,36.999991,36.124988,36.874978,1828200,2.449433
1,1980-12-15,111,-39,0,0,0,128,-50,0,0,...,37.125000,37.250009,1157400,2.474345,36.874978,37.250009,36.625028,36.999991,816600,2.457737
2,1980-12-16,89,17,0,0,8,139,-17,0,0,...,36.749969,37.125000,1181000,2.466041,37.125000,37.624972,37.125000,37.250009,1157400,2.474345
3,1980-12-17,83,-33,0,0,0,106,-22,0,0,...,37.125000,38.375034,1158200,2.549075,37.250009,37.375022,36.749969,37.125000,1181000,2.466041
4,1980-12-18,150,-33,0,0,0,100,-50,0,0,...,38.125012,38.499975,1458200,2.557374,37.125000,38.375034,37.125000,38.375034,1158200,2.549075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6588,2011-11-23,217,128,0,0,117,244,122,0,0,...,62.330002,62.360001,4273000,57.248141,65.300003,65.440002,63.880001,64.349998,5000300,59.075012
6589,2011-11-25,172,11,0,0,0,194,-6,0,0,...,62.119999,62.779999,2122300,57.633710,63.619999,63.750000,62.330002,62.360001,4273000,57.248141
6590,2011-12-01,94,-22,0,0,0,78,-39,0,0,...,68.510002,70.980003,12018200,65.161533,67.080002,68.750000,66.989998,68.690002,8601100,63.059251
6591,2011-12-14,172,56,0,0,0,200,39,0,0,...,69.720001,69.940002,5999900,64.206784,71.669998,72.650002,70.620003,70.900002,7555600,65.088089
6592,2011-12-22,161,111,0,0,20,200,128,0,0,...,73.480003,74.290001,5849400,68.200199,72.730003,73.709999,72.059998,73.589996,5471700,67.557576

In [106]:
TMAX_AVG = [0 for x in range(len(df_final.index))]
zipped = zip(list(df_final.columns.values),TMAX_AVG)
count=0
for i in list(df_final.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_AVG=TMAX_AVG+df_final.ix[:,i]


################################################333
TMAX_ATL = [0 for x in range(len(df_final.index))]
count=0
for i in list(ATL_weather.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_ATL=TMAX_ATL+df_final.ix[:,i]

TMAX_AVG_ATL= TMAX_ATL/count 
###################################################3
################################################333
TMAX_CH = [0 for x in range(len(df_final.index))]
count=0
for i in list(CH_weather.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_CH=TMAX_CH+df_final.ix[:,i]

TMAX_AVG_CH= TMAX_CH/count 
###################################################3
################################################333

TMAX_LA = [0 for x in range(len(df_final.index))]
count=0
for i in list(LA_weather.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_LA=TMAX_LA+df_final.ix[:,i]

TMAX_AVG_LA= TMAX_LA/count

###################################################3
################################################333
TMAX_NYC = [0 for x in range(len(df_final.index))]
count=0
for i in list(NYC_weather.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_NYC=TMAX_NYC+df_final.ix[:,i]

TMAX_AVG_NYC= TMAX_NYC/count 
###################################################3
################################################333

TMAX_SD = [0 for x in range(len(df_final.index))]
count=0
for i in list(SD_weather.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_SD=TMAX_SD+df_final.ix[:,i]

TMAX_AVG_SD= TMAX_SD/count
###################################################3
################################################333
TMAX_SF = [0 for x in range(len(df_final.index))]
count=0
for i in list(SF_weather.columns.values):
    if(re.match('TMAX',i)):
        count=count+1
        TMAX_SF=TMAX_SF+df_final.ix[:,i]

TMAX_AVG_SF= TMAX_SF/count 
###################################################3
################################################333
TMIN_ATL = [0 for x in range(len(df_final.index))]
count=0
for i in list(ATL_weather.columns.values):
    if(re.match('TMIN',i)):
        count=count+1
        TMIN_ATL=TMIN_ATL+df_final.ix[:,i]

TMIN_AVG_ATL= TMIN_ATL/count 
###################################################3
################################################333
TMIN_CH = [0 for x in range(len(df_final.index))]
count=0
for i in list(CH_weather.columns.values):
    if(re.match('TMIN',i)):
        count=count+1
        TMIN_CH=TMIN_CH+df_final.ix[:,i]

TMIN_AVG_CH= TMIN_CH/count 
###################################################3
################################################333
TMIN_LA = [0 for x in range(len(df_final.index))]
count=0
for i in list(LA_weather.columns.values):
    if(re.match('TMIN',i)):
        count=count+1
        TMIN_LA=TMIN_LA+df_final.ix[:,i]

TMIN_AVG_LA= TMIN_LA/count
###################################################3
################################################333
TMIN_NYC = [0 for x in range(len(df_final.index))]
count=0
for i in list(NYC_weather.columns.values):
    if(re.match('TMIN',i)):
        count=count+1
        TMIN_NYC=TMIN_NYC+df_final.ix[:,i]

TMIN_AVG_NYC= TMIN_NYC/count 
###################################################3
################################################333

TMIN_SD = [0 for x in range(len(df_final.index))]
count=0
for i in list(SD_weather.columns.values):
    if(re.match('TMIN',i)):
        count=count+1
        TMIN_SD=TMIN_SD+df_final.ix[:,i]

TMIN_AVG_SD= TMIN_SD/count 
###################################################3
################################################333
TMIN_SF = [0 for x in range(len(df_final.index))]
count=0
for i in list(SF_weather.columns.values):
    if(re.match('TMIN',i)):
        count=count+1
        TMIN_SF=TMIN_SF+df_final.ix[:,i]

TMIN_AVG_SF= TMIN_SF/count 
###################################################3
##################################################

SNOW_ATL = [0 for x in range(len(df_final.index))]
count=0
for i in list(ATL_weather.columns.values):
    if(re.match('SNOW',i)):
        count=count+1
        SNOW_ATL=SNOW_ATL+df_final.ix[:,i]

SNOW_AVG_ATL= SNOW_ATL/count 

####################################################
####################################################

SNOW_NYC = [0 for x in range(len(df_final.index))]
count=0
for i in list(NYC_weather.columns.values):
    if(re.match('SNOW',i)):
        count=count+1
        SNOW_NYC=SNOW_NYC+df_final.ix[:,i]

SNOW_AVG_NYC= SNOW_NYC/count 

###################################################
###################################################

SNOW_CH = [0 for x in range(len(df_final.index))]
count=0
for i in list(CH_weather.columns.values):
    if(re.match('SNOW',i)):
        count=count+1
        SNOW_CH=SNOW_CH+df_final.ix[:,i]

SNOW_AVG_CH= SNOW_CH/count

###################################################
###################################################

SNOW_LA = [0 for x in range(len(df_final.index))]
count=0
for i in list(LA_weather.columns.values):
    if(re.match('SNOW',i)):
        count=count+1
        SNOW_LA=SNOW_LA+df_final.ix[:,i]

SNOW_AVG_LA= SNOW_LA/count

###################################################
###################################################

SNOW_SD = [0 for x in range(len(df_final.index))]
count=0
for i in list(SD_weather.columns.values):
    if(re.match('SNOW',i)):
        count=count+1
        SNOW_SD=SNOW_SD+df_final.ix[:,i]

SNOW_AVG_SD= SNOW_SD/count

###################################################
###################################################

SNOW_SF = [0 for x in range(len(df_final.index))]
count=0
for i in list(SF_weather.columns.values):
    if(re.match('SNOW',i)):
        count=count+1
        SNOW_SF=SNOW_SF+df_final.ix[:,i]

SNOW_AVG_SF= SNOW_SF/count 

###################################################
###################################################

SNWD_ATL = [0 for x in range(len(df_final.index))]
count=0
for i in list(ATL_weather.columns.values):
    if(re.match('SNWD',i)):
        count=count+1
        SNWD_ATL=SNWD_ATL+df_final.ix[:,i]

SNWD_AVG_ATL= SNWD_ATL/count 

####################################################
####################################################

SNWD_NYC = [0 for x in range(len(df_final.index))]
count=0
for i in list(NYC_weather.columns.values):
    if(re.match('SNWD',i)):
        count=count+1
        SNWD_NYC=SNWD_NYC+df_final.ix[:,i]

SNWD_AVG_NYC= SNWD_NYC/count

####################################################
####################################################

SNWD_CH = [0 for x in range(len(df_final.index))]
count=0
for i in list(CH_weather.columns.values):
    if(re.match('SNWD',i)):
        count=count+1
        SNWD_CH=SNWD_CH+df_final.ix[:,i]

SNWD_AVG_CH= SNWD_CH/count 

####################################################
####################################################

SNWD_LA = [0 for x in range(len(df_final.index))]
count=0
for i in list(LA_weather.columns.values):
    if(re.match('SNWD',i)):
        count=count+1
        SNWD_LA=SNWD_LA+df_final.ix[:,i]

SNWD_AVG_LA= SNWD_LA/count 


####################################################
####################################################

SNWD_SD = [0 for x in range(len(df_final.index))]
count=0
for i in list(SD_weather.columns.values):
    if(re.match('SNWD',i)):
        count=count+1
        SNWD_SD=SNWD_SD+df_final.ix[:,i]

SNWD_AVG_SD= SNWD_SD/count 
#####################################################
#####################################################

SNWD_SF = [0 for x in range(len(df_final.index))]
count=0
for i in list(SF_weather.columns.values):
    if(re.match('SNWD',i)):
        count=count+1
        SNWD_SF=SNWD_SF+df_final.ix[:,i]

SNWD_AVG_SF= SNWD_SF/count 

#####################################################
#####################################################
PRCP_NYC = [0 for x in range(len(df_final.index))]
count=0
for i in list(NYC_weather.columns.values):
    if(re.match('PRCP',i)):
        count=count+1
        PRCP_NYC=PRCP_NYC+df_final.ix[:,i]

PRCP_AVG_NYC= PRCP_NYC/count

#####################################################
#####################################################

PRCP_ATL = [0 for x in range(len(df_final.index))]
count=0
for i in list(ATL_weather.columns.values):
    if(re.match('PRCP',i)):
        count=count+1
        PRCP_ATL=PRCP_ATL+df_final.ix[:,i]

PRCP_AVG_ATL= PRCP_ATL/count 

#####################################################
#####################################################

PRCP_CH = [0 for x in range(len(df_final.index))]
count=0
for i in list(CH_weather.columns.values):
    if(re.match('PRCP',i)):
        count=count+1
        PRCP_CH=PRCP_CH+df_final.ix[:,i]

PRCP_AVG_CH= PRCP_CH/count 

#####################################################
#####################################################

PRCP_LA = [0 for x in range(len(df_final.index))]
count=0
for i in list(LA_weather.columns.values):
    if(re.match('PRCP',i)):
        count=count+1
        PRCP_LA=PRCP_LA+df_final.ix[:,i]

PRCP_AVG_LA= PRCP_LA/count 

#####################################################
#####################################################

PRCP_SD = [0 for x in range(len(df_final.index))]
count=0
for i in list(SD_weather.columns.values):
    if(re.match('PRCP',i)):
        count=count+1
        PRCP_SD=PRCP_SD+df_final.ix[:,i]

PRCP_AVG_SD= PRCP_SD/count 

#####################################################
#####################################################

PRCP_SF = [0 for x in range(len(df_final.index))]
count=0
for i in list(SF_weather.columns.values):
    if(re.match('PRCP',i)):
        count=count+1
        PRCP_SF=PRCP_SF+df_final.ix[:,i]

PRCP_AVG_SF= PRCP_SF/count 

df = pd.DataFrame()
df["TMAX_ATL"]=TMAX_AVG_ATL
df["TMAX_NYC"]=TMAX_AVG_NYC
df["TMAX_CH"]=TMAX_AVG_CH
df["TMAX_LA"]=TMAX_AVG_LA
df["TMAX_SD"]=TMAX_AVG_SD
df["TMAX_SF"]=TMAX_AVG_SF


df["TMIN_ATL"]=TMIN_AVG_ATL
df["TMIN_NYC"]=TMIN_AVG_NYC
df["TMIN_CH"]=TMIN_AVG_CH
df["TMIN_LA"]=TMIN_AVG_LA
df["TMIN_SD"]=TMIN_AVG_SD
df["TMIN_SF"]=TMIN_AVG_SF 

df["SNOW_ATL"]=SNOW_AVG_ATL
df["SNOW_NYC"]=SNOW_AVG_NYC
df["SNOW_CH"]=SNOW_AVG_CH
df["SNOW_LA"]=SNOW_AVG_LA
df["SNOW_SD"]=SNOW_AVG_SD
df["SNOW_SF"]=SNOW_AVG_SF 

df["SNWD_ATL"]=SNWD_AVG_ATL
df["SNWD_NYC"]=SNWD_AVG_NYC
df["SNWD_CH"]=SNWD_AVG_CH
df["SNWD_LA"]=SNWD_AVG_LA
df["SNWD_SD"]=SNWD_AVG_SD
df["SNWD_SF"]=SNWD_AVG_SF 

df["PRCP_ATL"]=PRCP_AVG_ATL
df["PRCP_NYC"]=PRCP_AVG_NYC
df["PRCP_CH"]=PRCP_AVG_CH
df["PRCP_LA"]=PRCP_AVG_LA
df["PRCP_SD"]=PRCP_AVG_SD
df["PRCP_SF"]=PRCP_AVG_SF 

df["SUN_ATL"]=df_final["ATL_sunlight"]
df["SUN_NYC"]=df_final["NYC_sunlight"]
df["SUN_LA"]=df_final["LA_sunlight"]
df["SUN_CH"]=df_final["CH_sunlight"]
df["SUN_SD"]=df_final["SD_sunlight"]
df["SUN_SF"]=df_final["SF_sunlight"]

##Adding day column##
from datetime import date, datetime
import calendar
date.today().strftime("%A")
dx = {}
for date in df_final["DATE"]:
        dx[date] = date.strftime("%A")
import collections
dx = collections.OrderedDict(sorted(dx.items()))
df_final["DAY"] = dx.values()
#df["DAY"] = df_final["DAY"]
#df_final["DAY"] = df_final["DAY"].astype('category')
df = pd.concat([df, pd.get_dummies(df_final["DAY"])],axis =1) 
####

#df = pd.concat([df, df_final["DAY"]], axis=1)

df["PreWalMart"]= (-np.log(df_final["PREOPEN_Wal-Mart Stores, Inc Common St Stock"])+ np.log(df_final["PRECLOSE_Wal-Mart Stores, Inc Common St Stock"]))*100*df_final["PREVOLUME_Wal-Mart Stores, Inc Common St Stock"]  

df["PreApple"]= (-np.log(df_final["PREOPEN_Apple, Inc Stock"])+ np.log(df_final["PRECLOSE_Apple, Inc Stock"]))*100*df_final["PREVOLUME_Apple, Inc Stock"]
                                                               
df["PreBoeing"]= (-np.log(df_final["PREOPEN_The Boeing Company"])+ np.log(df_final["PRECLOSE_The Boeing Company"]))*100*df_final["PREVOLUME_The Boeing Company"]

df["PreFedEx"]= (-np.log(df_final["PREOPEN_FedEx Corporation"])+ np.log(df_final["PRECLOSE_FedEx Corporation"]))*100*df_final["PREVOLUME_FedEx Corporation"]

df["PreIBM"]= (-np.log(df_final["PREOPEN_International Business Machines Stock"])+ np.log(df_final["PRECLOSE_International Business Machines Stock"]))*100*df_final["PREVOLUME_International Business Machines Stock"]

df["WalMart"]= (-np.log(df_final["OPEN_Wal-Mart Stores, Inc Common St Stock"])+ np.log(df_final["CLOSE_Wal-Mart Stores, Inc Common St Stock"]))*100*df_final["VOLUME_Wal-Mart Stores, Inc Common St Stock"]  

df["Apple"]= (-np.log(df_final["OPEN_Apple, Inc Stock"])+ np.log(df_final["CLOSE_Apple, Inc Stock"]))*100*df_final["VOLUME_Apple, Inc Stock"]
                                                               
df["Boeing"]= (-np.log(df_final["OPEN_The Boeing Company"])+ np.log(df_final["CLOSE_The Boeing Company"]))*100*df_final["VOLUME_The Boeing Company"]

df["FedEx"]= (-np.log(df_final["OPEN_FedEx Corporation"])+ np.log(df_final["CLOSE_FedEx Corporation"]))*100*df_final["VOLUME_FedEx Corporation"]

df["IBM"]= (-np.log(df_final["OPEN_International Business Machines Stock"])+ np.log(df_final["CLOSE_International Business Machines Stock"]))*100*df_final["VOLUME_International Business Machines Stock"]

In [115]:
df = df.dropna(subset=["PreApple"],how='any')
pd.DataFrame.describe(df)

,TMAX_ATL,TMAX_NYC,TMAX_CH,TMAX_LA,TMAX_SD,TMAX_SF,TMIN_ATL,TMIN_NYC,TMIN_CH,TMIN_LA,...,PreWalMart,PreApple,PreBoeing,PreFedEx,PreIBM,WalMart,Apple,Boeing,FedEx,IBM
count,6592.000000,6592.000000,6592.000000,6592.000000,6592.000000,6592.000000,6592.000000,6592.000000,6592.000000,6592.000000,...,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03,6.592000e+03
mean,227.132403,168.737015,143.326775,245.053178,263.377640,215.350190,103.188046,72.834891,35.917764,117.241459,...,2.885785e+05,1.457989e+06,4.285408e+04,3.833251e+04,9.881637e+04,4.056129e+05,-3.317235e+06,1.002284e+05,3.040846e+04,7.458836e+04
std,81.447445,98.522020,116.458520,57.834115,67.742508,58.178059,83.669866,91.457402,104.935522,46.449852,...,2.250734e+07,4.605561e+08,1.073746e+07,5.611903e+06,2.180371e+07,2.261507e+07,4.992004e+08,1.092042e+07,5.600890e+06,2.213297e+07
min,-46.000000,-118.300000,-217.200000,70.550000,70.250000,44.500000,-182.700000,-205.000000,-316.500000,-18.400000,...,-3.209243e+08,-8.383154e+09,-1.822420e+08,-1.351734e+08,-6.836456e+08,-3.209243e+08,-1.678038e+10,-1.822420e+08,-1.351734e+08,-6.836456e+08
25%,167.375000,90.000000,46.100000,201.000000,208.900000,166.700000,36.100000,4.400000,-34.600000,80.500000,...,-5.164474e+06,-7.607543e+07,-2.224116e+06,-9.271167e+05,-4.282424e+06,-5.093415e+06,-7.698142e+07,-2.200577e+06,-9.350436e+05,-4.263403e+06
50%,236.950000,172.900000,154.400000,245.500000,263.450000,217.800000,108.400000,71.600000,38.800000,116.700000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,296.600000,256.600000,247.325000,289.925000,324.400000,261.125000,182.800000,153.300000,124.500000,156.100000,...,5.591996e+06,7.741908e+07,2.411586e+06,1.059037e+06,4.528300e+06,5.632651e+06,7.811517e+07,2.436247e+06,1.063413e+06,4.506815e+06
max,388.900000,385.600000,380.000000,425.000000,420.500000,386.200000,240.500000,265.600000,262.300000,232.100000,...,6.490632e+08,7.814666e+09,1.734670e+08,7.643459e+07,2.846651e+08,6.490632e+08,7.814666e+09,1.734670e+08,7.643459e+07,2.846651e+08

In [128]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.cross_validation import cross_val_score
from sklearn.cross_validation import train_test_split
import time
from collections import defaultdict
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.dummy import DummyRegressor
from sklearn.svm import SVR
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import ElasticNet
import matplotlib.pyplot as plt

X = pd.DataFrame(df.ix[:,0:42]) #weather parameters with Pre-Walmart 
#X["PreApple"] = df["PreApple"]
Y = pd.DataFrame(df.ix[:,46:47]) #stock data for Walmart 
X_train, X_test, y_train, y_test = train_test_split(X, Y.ix[:,0], test_size=0.2, random_state=3)
y_train

158      7321482.775955
3203           0.000000
3437           0.000000
4784   -21341402.728446
5539    31329363.885100
             ...
969     -2096703.027738
1668   -61075933.335149
3322     2916866.991127
1689           0.000000
5995    -2429950.684708
Name: WalMart, dtype: float64

In [125]:
###UPDATE: Need to get Gridsearch to stop timing out
param = {'kernel':['rbf'], 'C':[.01,10,1000],'gamma':[.0001, .001,.01,.1],'degree':[2,3,4]}
#param = {'kernel':['poly'], 'C':[.01,10,1000],'degree':[2,3]}

regressor = SVR()
clf = GridSearchCV(regressor,param,scoring='mean_absolute_error',n_jobs=4).fit(X_train,y_train)
clf.best_params_

{'C': 0.01, 'degree': 2, 'gamma': 0.0001, 'kernel': 'rbf'}

In [126]:
regressor.set_params(**clf.best_params_)
regressor.fit(X_train, y_train)
pred = regressor.predict(X_test)
acc = regressor.score(X_test, y_test)
print('ACC: %.4f' % acc)

ACC: -0.0001